body {
  background-color: grey
}

header {
  background-color: darkslategrey;
  text-align: left;
}
.center{
object-position: center;
}

.content{
  color: mintcream;
  text-align: left;
}

footer {
    background-color: darkslategray;
    text-align: center;
}

.wrapper {
  text-align: center;
  width: 300px;
  margin: auto;
}