body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff
}
.container {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(255, 255, 255, 0.2);
}

.content {
  margin: 15px;
  padding: 15px;
  font-family:'Courier New', Courier, monospace;
  font-size: 1em;
  color: #fff;
}